.navBar{
    flex-direction: 'row';
    justify-content: 'space-around';
    align-items: 'center';
    width: '100%';
    background-color: '#007AFF';
    padding-block: 12;
    border-radius: 8;

}
.navButton{
    padding-inline: 20;
}
.navButtonText{
    color: '#fff';
    font-size: 16;
    font-weight: "bold";
}